<h1 id="id"> Welcome to B Tree GUI<small><a href='/'> Home Page </a></small></h1>

<hr>

<div class="row b-tree">

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu" data-bind="foreach: degrees">
        <li>
            <label data-bind="text: val"></label>
            <input type="radio"/ name="max degree" data-bind="click: $parent.selectMaxDegree">
        </li>
      </ul>

    </div>

<div>


<div class="b-tree-data">

</div>

